<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/ProductStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        img {
            vertical-align: middle;
        }

        /* Position the image container (needed to position the left and right arrows) */
        .container {
            position: relative;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* Container for image text */
        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Six columns side by side */
        .column {
            float: left;
            width: 16.66%;
        }

        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.6;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }

        .footer-title {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #37475a;
            color: #fff;
            font-size: 0.875rem;
            font-weight: 600;
            height: 60px;
        }

        footer a {
            color: black;
        }

        footer .top {
            background: #37475a;
        }

            footer .top a {
                padding: 17px;
                width: 100%;
                display: inline-block;
            }

                footer .top a:hover {
                    color: #fff;
                    text-decoration: none;
                }

            footer .top:hover {
                background: #485769;
            }

        footer .center {
            margin: 0 auto;
            max-width: 1080px;
        }

        footer ul {
            margin: 30px 40px 30px 0;
            display: inline-block;
            vertical-align: top;
            list-style: none;
        }

        footer .middle {
            background: #232f3e;
        }

            footer .middle h3 {
                color: #fff;
                font-weight: 700;
                margin-bottom 10px;
                padding: 0;
                font-size: 16px;
            }

            footer .middle li {
                position: relative;
            }

            footer .middle .logo {
                background: transparent url('../img/logo.png') no-repeat 0 0;
                background-size: 76px;
                width: 76px;
                height: 23px;
                display: block;
                border: none !important;
                margin-right: 60px;
                position: absolute;
                top: -14px;
                left: -120px;
            }

            footer .middle a {
                color: #ddd;
                font-size: 13px;
                display: block;
                padding: 5px 0;
            }

        footer ul.copy {
            display: inline-block;
            width: 100%;
        }

            footer ul.copy li {
                display: inline-block;
                margin-right: 20px;
                color: #999;
                font-size: 11px;
            }

        footer .middle .copy {
            border-top: 1px solid #3a4553;
            padding: 30px 20px 20px 20px;
        }

            footer .middle .copy a {
                padding: 10px 30px 10px 10px;
                color: #ccc;
                border: 1px solid #848688;
                border-radius: 3px;
            }

                footer .middle .copy a:hover {
                    text-decoration: none;
                    border-color: #8D9096;
                }

        footer .middle .fa-globe {
            margin-right: 5px;
        }

        footer .middle .flag-icon-us {
            background-image: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/images/flags/us.svg');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            height: 1em;
            width: 1.33333333em;
            margin-right: 7px;
            background-position: 0 2px;
        }

        footer .bottom {
            background: #131a22;
        }

            footer .bottom ul {
                margin-right: 0;
            }

            footer .bottom li {
                margin-bottom: 15px;
            }

            footer .bottom a {
                color: #ddd;
                font-size: 11px;
                line-height: 11px;
            }

                footer .bottom a span {
                    color: #999;
                    font-size: 10px;
                }
    </style>
</head>
<body style="margin :0">
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <a href="#"><img src="https://pbs.twimg.com/media/FaDbDJqWQAA4Uie?format=jpg&name=large" alt="logo" class="fm-nav-logo"></a>
            </div>
            <div class="address">
                <a href="#" class="deliver">Deliver</a>
                <div class="map-icon">
                    <span class="material-symbols-outlined">location_on</span>
                    <a href="#" class="location">Nepal</a>
                </div>
            </div>
            <div class="nav-search">
                <select class="select-search">
                    <option>All</option>
                    <option>All Categories</option>
                    <option>Amazon Devices</option>
                </select>
                <input type="text" placeholder="Search Amazon" class="search-input">
                <div class="search-icon">
                    <span class="material-symbols-outlined">search</span>
                </div>
            </div>
            <div class="sign-in">
                <a href="#">
                    <p>Hello, sign in</p>
                    <span>Account &amp; Lists</span>
                </a>
            </div>
            <div class="returns">
                <a href="#">
                    <p>Returns</p>
                    <span>&amp; Orders</span>
                </a>
            </div>
            <div class="cart">
                <a href="#">
                    <span class="material-symbols-outlined cart-icon">shopping_cart</span>
                </a>
                <p>Cart</p>
            </div>
        </nav>

        <div class="banner">
            <div class="banner-content">
                <div class="panel">
                    <span class="material-symbols-outlined">menu</span>
                    <a href="#">All</a>
                </div>

                <ul class="links">
                    <li><a href="#">Today's Deals</a></li>
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">Registry</a></li>
                    <li><a href="#">Gift Cards</a></li>
                    <li><a href="#">Sell</a></li>
                </ul>
                <div class="deals">
                    <a href="#">Shop deals in Electronics</a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="content">
            <ul class="products">
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2022/12/DeathStalker-V2-Pro-1_compressed-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">Bàn phím cơ không dây Razer DeathStalker V2 Pro Low-Profile Optical</b>
                        </div>

                        <div class="product-brand">Razer</div>
                        <div class="price">6,190,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/08/v500-pro-white-pink-1_compressed.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím cơ Rapoo V500 Pro White LED-Hồng trắng
                            </b>
                        </div>

                        <div class="product-brand"> Logitech</div>
                        <div class="price">1,190,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2022/12/g213-gallery-1_compressed-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím Logitech G213 Prodigy
                            </b>
                        </div>

                        <div class="product-brand">Logitech</div>
                        <div class="price">1,090,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2022/12/ban-phim-co-akko-3068b-plus-blue-on-white-04_compressed-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím AKKO 3068B Plus Blue on White Multi-Modes (Akko CS Switch)
                            </b>
                        </div>

                        <div class="product-brand"> AKKO</div>
                        <div class="price">1,690,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/04/MT510_PRO_compressed-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím cơ không dây Rapoo MT510PRO Multimode (Bluetooth 5.0/ 2.4Ghz/ USB-C)
                            </b>
                        </div>

                        <div class="product-brand">Rapoo</div>
                        <div class="price">1,590,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/05/AKKO3068BBlack_PinkASAKeyboard-2_1024x1024-768x768.jpeg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím AKKO 3068B Plus Black Pink Multi-Modes
                            </b>
                        </div>

                        <div class="product-brand">AKKO</div>
                        <div class="price">1,690,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/02/19_compressed-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím cơ iKBC CD87HR (Gateron Pro Switch/ RGB/ Hotswap/ USB-C)
                            </b>
                        </div>

                        <div class="product-brand"> iKBC</div>
                        <div class="price">1,750,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2022/12/ban-phim-co-akko-3068-v2-world-tour-tokyo-r2-rgb-bluetooth-5.0-1_compressed-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím AKKO 3068B Plus World Tour Tokyo R2 Multi-Modes (Akko CS Switch – Jelly Pink)
                            </b>
                        </div>

                        <div class="product-brand">AKKO</div>
                        <div class="price">2,090,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/04/ban-phim-akko-5108b-plus-demon-slayer-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím AKKO 5108B Plus Demon Slayer (Multi-modes / Hotswap / RGB/ Akko CS Crystal)
                            </b>
                        </div>

                        <div class="product-brand">AKKO</div>
                        <div class="price">2,990,000 ₫</div>
                        <div class="product-rating">0 Stars (165 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/08/v500-pro-blue-white_compressed.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím cơ Rapoo V500 Pro White LED-Trắng xanh
                            </b>
                        </div>

                        <div class="product-brand">Rapoo</div>
                        <div class="price">1,190,000 ₫</div>
                        <div class="product-rating">0 Stars (0  Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/08/v500-pro-blue-yellow-4_compressed-768x768.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím cơ Rapoo V500 Pro White LED-Xanh vàng
                            </b>
                        </div>

                        <div class="product-brand"> Rapoo</div>
                        <div class="price">750,000 ₫</div>
                        <div class="product-rating">0 Stars (229 Reviews)</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img src="https://xgear.net/wp-content/uploads/2023/09/pro-x-tkl_compressed-500x500.jpg" alt="product" class="product-image" />
                        <div class="product-name">
                            <b href="product.html">
                                Bàn phím cơ không dây Logitech Pro X TKL
                            </b>
                        </div>

                        <div class="product-brand">Logitech</div>
                        <div class="price">3,990,000 ₫</div>
                        <div class="product-rating">0 Stars (0 Reviews)</div>
                    </div>
                </li>
            </ul>
        </div>

    </main>
    <footer>
        <a href="#" class="footer-title">
            Back to top
        </a>
        <div class="middle">
            <div class="center">
                <ul>
                    <li><h3>Get to Know Us</h3></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">About Amazon</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Amazon Devices</a></li>
                </ul>
                <ul>
                    <li><h3>Make Money with Us</h3></li>
                    <li><a href="#">Sell on Amazon</a></li>
                    <li><a href="#">Sell Your Services on Amazon</a></li>
                    <li><a href="#">Sell on Amazon Business</a></li>
                    <li><a href="#">Sell Your Apps on Amazon</a></li>
                    <li><a href="#">Become an Affiliate</a></li>
                    <li><a href="#">Advertise Your Products</a></li>
                    <li><a href="#">Self-Publish with Us</a></li>
                    <li><a href="#">Become an Amazon Vendor</a></li>
                    <li><a href="#">Sell Your Subscription on Amazon</a></li>
                    <li><a href="#">› See all</a></li>
                </ul>
                <ul>
                    <li><h3>Amazon Payment Products</h3></li>
                    <li><a href="#">Amazon Rewards Visa Signature Cards</a></li>
                    <li><a href="#">Amazon.com Store Card</a></li>
                    <li><a href="#">Amazon.com Corporate Credit Line</a></li>
                    <li><a href="#">Shop with Points</a></li>
                    <li><a href="#">Credit Card Marketplace</a></li>
                    <li><a href="#">Reload Your Balance</a></li>
                    <li><a href="#">Amazon Currency Converter</a></li>
                </ul>
                <ul>
                    <li><h3>Let Us Help You</h3></li>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">Your Orders</a></li>
                    <li><a href="#">Shipping Rates &amp; Policies</a></li>
                    <li><a href="#">Amazon Prime</a></li>
                    <li><a href="#">Returns &amp; Replacements</a></li>
                    <li><a href="#">Manage Your Content and Devices</a></li>
                    <li><a href="#">Amazon Assistant</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>

            <ul class="copy text-center">
                <li><a href="#" class="logo"></a></li>
                <li><a href="#" class="select"><i class="fa fa-globe" aria-hidden="true"></i> VietNamese</a></li>
                <li><a href="#" class="select"><i class="flag-icon-us"></i>VietName</a></li>
            </ul>
        </div>
        <div class="bottom">
            <div class="center">
                <ul>
                    <li><a href="#">Amazon Music<br /><span>Stream millions<br> of songs</span></a></li>
                    <li><a href="#">AmazonFresh<br /><span>Groceries &amp; More<br> Right To Your Door</span></a></li>
                    <li><a href="#">Amazon Web Services<br /><span>Scalable Cloud<br> Computing Services</span></a></li>
                    <li><a href="#">East Dane<br /><span>Designer Men's<br> Fashion</span></a></li>
                    <li><a href="#">Prime Now<br /><span>FREE 2-Hour Delivery<br> on Everyday Items</span></a></li>
                </ul>

                <ul>
                    <li><a href="#">Amazon Drive<br /><span>Cloud storage<br> from Amazon</span></a></li>
                    <li><a href="#">AmazonGlobal<br /><span>Ship Orders<br> Internationally</span></a></li>
                    <li><a href="#">Audible<br /><span>Download<br> Audio Books</span></a></li>
                    <li><a href="#">Fabric<br /><span>Sewing, Quilting<br> &amp; Knitting</span></a></li>
                    <li><a href="#">Prime Photos<br /><span>Unlimited Photo Storage<br> Free With Prime</span></a></li>
                    <li><a href="#">Woot!<br /><span>Deals and <br> Shenanigans</span></a></li>
                </ul>

                <ul>
                    <li><a href="#">6pm<br /><span>Score deals<br> on fashion brands</span></a></li>
                    <li><a href="#">Home Services<br /><span>Handpicked Pros<br> Happiness Guarantee</span></a></li>
                    <li><a href="#">Book Depository<br /><span>Books With Free<br> Delivery Worldwide</span></a></li>
                    <li><a href="#">Goodreads<br /><span>Book reviews<br> &amp; recommendations</span></a></li>
                    <li><a href="#">Shopbop<br /><span>Designer<br> Fashion Brands</span></a></li>
                    <li><a href="#">Zappos<br /><span>Shoes &amp;<br> Clothing</span></a></li>
                </ul>

                <ul>
                    <li><a href="#">AbeBooks<br /><span>Books, art<br> &amp; collectibles</span></a></li>
                    <li><a href="#">Amazon Inspire<br /><span>Free Digital Educational<br>  Resources</span></a></li>
                    <li><a href="#">Box Office Mojo<br /><span>Find Movie<br> Box Office Data</span></a></li>
                    <li><a href="#">IMDb<br /><span>Movies, TV<br> &amp; Celebrities</span></a></li>
                    <li><a href="#">TenMarks.com<br /><span>Math Activities<br> for Kids &amp; Schools</span></a></li>
                    <li><a href="#">Souq.com<br /><span>Shop Online in<br> the Middle East</span></a></li>
                </ul>

                <ul>
                    <li><a href="#">ACX <br /><span>Audiobook Publishing<br> Made Easy</span></a></li>
                    <li><a href="#">Amazon Rapids<br /><span>Fun stories for<br>  kids on the go</span></a></li>
                    <li><a href="#">ComiXology<br /><span>Thousands of<br> Digital Comics</span></a></li>
                    <li><a href="#">IMDbPro<br /><span>Get Info Entertainment<br> Professionals Need</span></a></li>
                    <li><a href="#">Warehouse Deals<br /><span>Open-Box<br> Discounts</span></a></li>
                    <li><a href="#">Subscribe with Amazon<br /><span>Discover &amp; try<br> subscription services</span></a></li>
                </ul>

                <ul>
                    <li><a href="#">Alexa<br /><span>Actionable Analytics<br> for the Web</span></a></li>
                    <li><a href="#">Amazon Restaurants<br /><span>Food delivery from<br> local restaurants</span></a></li>
                    <li><a href="#">CreateSpace<br /><span>Indie Print Publishing<br> Made Easy</span></a></li>
                    <li><a href="#">Junglee.com<br /><span>Shop Online<br> in India</span></a></li>
                    <li><a href="#">Whispercast<br /><span>Discover &amp; Distribute<br> Digital Content</span></a></li>
                </ul>

                <ul>
                    <li><a href="#">Amazon Business<br /><span>Everything For<br> Your Business</span></a></li>
                    <li><a href="#">Amazon Video Direct<br /><span>Video Distribution<br> Made Easy</span></a></li>
                    <li><a href="#">DPReview<br /><span>Digital<br> Photography</span></a></li>
                    <li><a href="#">Kindle Direct Publishing<br /><span>Indie Digital Publishing<br> Made Easy</span></a></li>
                    <li><a href="#">Withoutabox<br /><span>Submit to<br> Film Festivals</span></a></li>
                </ul>

                <ul class="copy text-center">
                    <li><a href="#">Conditions of Use</a></li>
                    <li><a href="#">Privacy Notice</a></li>
                    <li><a href="#">Interest-Based Ads</a></li>
                    <li>&copy; 1996-2017, Amazon.com, Inc. or its affiliates</li>
                </ul>
            </div>
        </div>

    </footer>
    <div>
        @RenderBody()
    </div>
</body>
</html>
